* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    height: 1000px;
    border: 3px solid blue;
    position: relative;
    overflow: hidden;
    margin: 70px auto;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(178, 160, 203), rgb(74, 143, 14), rgb(195, 207, 226));
}

.first-sec {
    margin-top: px;
    height: 1000px;
    width: 700px;
    box-shadow: 5px 5px 20px 0.5px rgb(109, 23, 23);
    padding: 20px 10px;
}

.main {
    display: flex;
    width: 100%;
    padding-left: 5px;
    border-radius: 8px;
    height: 200px;
    background-color: b(167, 198, 198);
    /* padding-top: 20px; */
}

.intro {
    height: 100%;
    width: 36%;
    /* background-color: peru; */
    /* border: 2px solid green; */
}

.intro h1 {
    margin-top: -20px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro p {
    margin-top: 10px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photo {
    width: 45%;
    height: 110%;
    /* background-color:lemonchiffon; */
    /* border: 2px solid yellow; */
}

.photo img {
    margin-top: 1px;
    margin-left: 25px;
    border: 4px solid rgb(26, 15, 15);
    width: 75%;
    height: 85%;
    border-radius: 100%;
}

.address {
    width: 33.3%;
    height: 100%;
    /* background-color: brown; */
    /* border: 2px solid orchid; */
}

.address a {
    color: black;
    margin-left: 50px;
    padding-top: 20px;
    text-decoration: none;
}

.address a i {
    margin-left: 20px;
    font-size: 17px;
}

.fa-solid.fa-mobile {
    margin-left: 80px;
}

.fa-sharp.fa-solid.fa-location-dot {
    margin-left: 95px;
}

.fa-brands.fa-linkedin {
    margin-left: 137px;
}

.fa-brands.fa-square-github {
    margin-left: 141px;
}

.address-div {
    margin-top: 15px;
}

hr {
    margin-top: 2px;
    border: 2px solid;
    border-radius: 10px;
}


/* -------------------------------------- */


/* body start from here  */

.body-container {
    display: flex;
    height: 77%;
    width: 100%;
    margin-top: 5px;
    /* background-color: rgb(60, 144, 217); */
}


/* -------------------------------left container start from here */

.left-container {
    height: 103%;
    width: 50%;
    margin-left: -4.5px;
    margin-right: 4px;
    background-color: rgb(24, 5, 5);
    border-radius: 6px 0px 0px 8px;
    background: linear-gradient(45deg, rgb(181, 166, 202), rgb(72, 34, 175));
}

.heading {
    font-size: 20px;
    margin: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading-line {
    width: 50%;
    margin-left: 10px;
    margin-top: -7px;
}

.edu-list {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.colleges {
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.percent1 {
    position: absolute;
    margin-left: 22%;
    margin-top: -25px;
}

.hard-skill {
    margin-top: 20px;
}

.skill-underline {
    width: 24%;
}

.skills {
    margin: 10px 20px;
}

.strength-underline {
    width: 20%;
}


/* --------------------------
right container start from here */

.right-container {
    height: 103%;
    width: 50%;
    background-color: rgb(24, 5, 5);
    background: linear-gradient(45deg, rgb(196, 182, 215), rgb(77, 28, 212));
    border-radius: 0px 8px 8px 0px;
}

.roles {
    margin-left: 20px;
    font-size: 13px;
}

.date {
    position: absolute;
    margin-left: 18%;
    margin-top: -25px;
}

.certificate-underline {
    width: 25%;
}